*{margin:0; padding:0; box-sizing: border-box;}
body{
    width: 1440px;
    height: 1024px;
}
#grid{
    display:grid;
    grid-template-areas: 
   "h"
   "m"
   "f";
}
header{
    grid-area: h;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}
main{
    width:1440px;
    height: 800px;
    grid-area: m;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "sm sml com"
    "sm bat com"
    "sm ww com"
    "sm gl com"
    "sm aq com";
    border-top: solid 3px grey;
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
    padding-top: 20px;
}
#smbig{
    grid-area: sm;
    background-image: linear-gradient(180deg, red 0%, orange 50%, red 100%);
    border-bottom-left-radius: 20px;
    margin-left: 25px;
    width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
#smbig img{width: 100%;
height: 100%;
}
#superman{
    grid-area: sml;
}
#batman{
    grid-area: bat;
}
#wonderwoman{
    grid-area: ww;
}
#greenlantern{
    grid-area: gl;
}
#aquaman{
    grid-area: aq;
}
#superman, #batman, #wonderwoman, #greenlantern, #aquaman{
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#comics{
    grid-area: com;
    width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
h1{font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;}
#comics img{
    width: 50%;
    height: 80%;
    margin-left: 25%;
}
footer{
    grid-area: f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{width: 25px;
height: 25px;
margin-top: 50px;
margin-bottom: 5px;}
footer p{font-weight: bold;
margin-bottom: 10px;}
